{
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib", 
      "style": true
    }],
    ["import", {
      "libraryName": "react-router",
      "libraryDirectory": "lib"
    }]
  ]
}
